header.header {
	background-color: var(--secondary-color);
	height: calc(3vh + 3vw);
	width: 100%;
	z-index: 2;
}

nav.header__main-nav,
nav.mobile-navigation {
	height: 100%;
}

ul.header__main-nav--links {
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

ul.header__main-nav--links li {
	padding-right: 3vw;
}

ul.header__main-nav--links li a {
	font-size: calc(1rem + 0.6667vw);
	position: relative;
	padding: 0.2rem 0.6rem;
}
ul.header__main-nav--links li a::before,
ul.header__main-nav--links li a:visited::before,
ul.header__main-nav--links li a::after,
ul.header__main-nav--links li a:visited::after {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	height: 0.2rem;
	background-color: white;
	transform: scaleX(0);
	transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

ul.header__main-nav--links li a::before,
ul.header__main-nav--links li a:visited::before {
	top: 0;
}
ul.header__main-nav--links li a:visited:after,
ul.header__main-nav--links li a::after {
	bottom: 0;
}

ul.header__main-nav--links li a:hover::before,
ul.header__main-nav--links li a:hover::after,
ul.header__main-nav--links li a:active::before,
ul.header__main-nav--links li a:active::after {
	transform: scaleX(1);
}

.mobile-navigation {
	display: none;
}

/* ****************************************** Media query for small screens ******************************************************** */

@media screen and (max-width: 610px) {
	.header__main-nav {
		display: none;
	}

	.mobile-navigation {
		display: block;
		background-color: var(--secondary-color);
		align-items: center;
		transition: all 0.3s ease-out;
	}

	.mobile-navigation .hamburger {
		position: fixed;
		top: 0.4rem;
		right: 5%;
		cursor: pointer;
		z-index: 5;
	}
	.mobile-navigation .header__main-nav--links {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		top: calc(3vw + 3vh);
		right: 0;
		position: fixed;
		background-color: var(--secondary-color);
		width: 40%;
		z-index: 4;
		padding-top: 4rem;
	}

	.mobile-navigation .header__main-nav--links li {
		margin-bottom: 4vh;
		margin-left: 6vw;
	}
}
